<rules>
    <rule name="CanonicalHostNameRule1">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.westchesterfamilycare\.com$" negate="true" />
        </conditions>
        <action type="Redirect" url="http://www.westchesterfamilycare.com/{R:1}" />
    </rule>
    <!--<rule name="CanonicalHostNameRule1" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.westchesterfamilycare\.com$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.westchesterfamilycare.com/{R:1}" />
    </rule>-->
 <rule name="RemoveTrailingSlashRule1" stopProcessing="true">
        <match url="(.*)/$" />
        <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Redirect" url="{R:1}" />
    </rule>
  <rule name="RedirectFrontpageUrlToRoot" stopProcessing="true">
    <match url="(.*)default.aspx" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
    </conditions>
    <action type="Redirect" url="{R:1}" />
  </rule>
  <rule name="LowerCaseRule" stopProcessing="true">
    <match url="[A-Z]" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
      <add input="{URL}" pattern="\.axd$" negate="true" />
      <add input="{URL}" pattern="^.+\.(?:jpg|bmp|gif|png|pdf|js|css)$" negate="true" />
    </conditions>
    <action type="Redirect" url="{ToLower:{URL}}" />
  </rule>
  <rule name="Redirects" enabled="true">
    <match url=".*" />
    <conditions>
      <add input="{Redirects:{URL}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}" appendQueryString="true" />
  </rule>
  <rule name="Rewrites">
    <match url=".*" />
    <conditions>
      <add input="{Rewrites:{URL}}" pattern="(.+)" />
    </conditions>
    <action type="Rewrite" url="{C:1}" appendQueryString="true" />
  </rule>
  
    <rule name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTPS}" pattern="^off$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
    </rule>
    


</rules>