<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <configSections>
  </configSections>
	<connectionStrings configSource="connection.config"></connectionStrings> 
	<appSettings>
	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	<add key="webpages:Version" value="2.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="PreserveLoginUrl" value="true" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="MilesLibrary.PageTitlePrefix" value="Westchester Family Care" />
	  <add key="MilesLibrary.EmailTestMode" value="Off" />
	  <add key="MilesLibrary.ContactUsEmailTo" value="info@westchesterfamilycare.com" />
  </appSettings>
  <system.web>

	  <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />

	

	<authentication mode="Windows" />

	  <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/SystemPages/Error.aspx">
		  <error redirect="~/SystemPages/404.aspx" statusCode="404" />
		  <error redirect="~/SystemPages/403.aspx" statusCode="403" />
	  </customErrors>

	<sessionState mode="InProc" customProvider="DefaultSessionProvider">
	  <providers>
		<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
	  </providers>
	</sessionState>

	<httpCookies httpOnlyCookies="true" requireSSL="false" />
	 
	  <pages maxPageStateFieldLength="5000">
		  <namespaces>
			  <add namespace="EntityLibrary" />
		  </namespaces>
		  <controls>
			  <add tagPrefix="miles" namespace="MilesControls" assembly="MilesControls" />
			  <add tagPrefix="miles" tagName="header" src="~/CustomControls/Header.ascx" />
			  <add tagPrefix="miles" tagName="sitemap" src="~/CustomControls/Sitemap.ascx" />
			  <add tagPrefix="miles" tagName="footer" src="~/CustomControls/FooterControl.ascx" />
			  <add tagPrefix="miles" tagName="extraCode" src="~/CustomControls/ExtraCode.ascx" />
		  </controls>
	  </pages>




	  
  </system.web>


	<system.net>
		<mailSettings>
			<smtp>
				<network host="outbound01.4miles.com" />
			</smtp>
		</mailSettings>
	</system.net>


	<system.webServer>
	<httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
	  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
	  <staticTypes>
		<add mimeType="text/*" enabled="true" />
		<add mimeType="message/*" enabled="true" />
		<add mimeType="application/javascript" enabled="true" />
		<add mimeType="application/json" enabled="true" />
		<add mimeType="*/*" enabled="false" />
	  </staticTypes>
	</httpCompression>

	<httpErrors>
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/SystemPages/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/SystemPages/403.aspx" responseMode="ExecuteURL" />
    </httpErrors>

	<directoryBrowse enabled="false" />
	<validation validateIntegratedModeConfiguration="false" />
	<modules runAllManagedModulesForAllRequests="false" />

	<urlCompression doStaticCompression="true" doDynamicCompression="true" />
	<staticContent>

	  <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />

	  <remove fileExtension=".css" />
	  <mimeMap fileExtension=".css" mimeType="text/css" />
	  <remove fileExtension=".js" />
	  <mimeMap fileExtension=".js" mimeType="text/javascript" />
	  <remove fileExtension=".json" />
	  <mimeMap fileExtension=".json" mimeType="application/json" />
	  <remove fileExtension=".rss" />
	  <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
	  <remove fileExtension=".html" />
	  <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
	  <remove fileExtension=".xml" />
	  <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />

	  <remove fileExtension=".mp3" />
	  <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
	  <remove fileExtension=".mp4" />
	  <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
	  <remove fileExtension=".ogg" />
	  <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
	  <remove fileExtension=".ogv" />
	  <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
	  <remove fileExtension=".webm" />
	  <mimeMap fileExtension=".webm" mimeType="video/webm" />

	  <remove fileExtension=".svg" />
	  <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	  <remove fileExtension=".svgz" />
	  <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />

	  <remove fileExtension=".eot" />
	  <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
	  <remove fileExtension=".ttf" />
	  <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
	  <remove fileExtension=".ttc" />
	  <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
	  <remove fileExtension=".otf" />
	  <mimeMap fileExtension=".otf" mimeType="font/opentype" />
	  <remove fileExtension=".woff" />
	  <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
	  <remove fileExtension=".crx" />
	  <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
	  <remove fileExtension=".xpi" />
	  <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
	  <remove fileExtension=".safariextz" />
	  <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />

	  <remove fileExtension=".flv" />
	  <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
	  <remove fileExtension=".f4v" />
	  <mimeMap fileExtension=".f4v" mimeType="video/mp4" />

	  <remove fileExtension=".ico" />
	  <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
	  <remove fileExtension=".webp" />
	  <mimeMap fileExtension=".webp" mimeType="image/webp" />
	  <remove fileExtension=".htc" />
	  <mimeMap fileExtension=".htc" mimeType="text/x-component" />
	  <remove fileExtension=".vcf" />
	  <mimeMap fileExtension=".vcf" mimeType="text/x-vcard" />
	  <remove fileExtension=".torrent" />
	  <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent" />
	  <remove fileExtension=".cur" />
	  <mimeMap fileExtension=".cur" mimeType="image/x-icon" />
	</staticContent>
	<httpProtocol>
	  <customHeaders>


		<add name="X-Content-Type-Options" value="nosniff" />

		<!-- A little extra security (by obscurity), removings fun but adding your own is better -->
		<remove name="X-Powered-By" />
		<add name="X-Powered-By" value="Miles Technologies" />

		<!--//#### SECURITY Related Headers ###-->

		<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />

	  </customHeaders>
	</httpProtocol>
  
  <rewrite>
      <rewriteMaps>
        <rewriteMap name="Redirects">
          <add key="/forms/contactus.aspx" value="/contactus" />
		  	<add key="/contactus" value="/contact-us" />
			
          <add key="/forms/thankyoucontactus.aspx" value="/thankyoucontactus" />
		  <add key="/staticpages/sitemap.aspx" value="/sitemap" />
		  
		  <add key="/staticpages/our-story.aspx" value="/our-story" />
		  	<add key="/our-story" value="/about-us/our-story" />
			
		  <add key="/staticpages/wfc.aspx" value="/wfc" />
		  	  <add key="/wfc" value="/about-us/wfc" />
			  
		  <add key="/staticpages/home-care.aspx" value="/home-care" />
		  	<add key="/home-care" value="/about-us/home-care" />
			
		  <add key="/staticpages/custom-care.aspx" value="/custom-care" />
		  
		  <add key="/staticpages/our-clients.aspx" value="/our-clients" />
		  	<add key="/our-clients" value="/about-us/our-clients" />
			
		  <add key="/staticpages/about-us.aspx" value="/about-us" />
		  <add key="/staticpages/care-coordination.aspx" value="/care-coordination" />
		  <add key="/staticpages/testimonials.aspx" value="/testimonials" />
		  
		  <add key="/staticpages/faqs.aspx" value="/faqs" />
		  	<add key="/faqs" value="/about-us/faqs" />
			
		  <add key="/brand" value="http://staging.wfcbrand.milesapp.com/" />
		  <add key="/staticpages/services.aspx" value="/services" />
		  <add key="/staticpages/companion-services.aspx" value="/companion-services" />
		  <add key="/staticpages/elderly-companion.aspx" value="/elderly-companion" />
		  <add key="/staticpages/in-home-senior-care.aspx" value="/in-home-senior-care" />
		  <add key="/staticpages/live-in-care.aspx" value="/live-in-care" />
		  <add key="/staticpages/free-check-up-services.aspx" value="/free-check-up-services" />
		  <add key="/staticpages/free-needs-assessment.aspx" value="/free-needs-assessment" />
		  <add key="/staticpages/medical-alert.aspx" value="/medical-alert" />
		  <add key="/staticpages/safety-and-planning.aspx" value="/safety-and-planning" />
		  <add key="/staticpages/alzheimers-care-guide.aspx" value="/alzheimers-care-guide" />
		  <add key="/staticpages/parkinsons-care-guide.aspx" value="/parkinsons-care-guide" />
		  <add key="/staticpages/care-blog.aspx" value="/care-blog" />
		  <add key="/staticpages/careers.aspx" value="/careers" />
		  <add key="/staticpages/navTemplateStructure.aspx" value="/navtemplate/structure" />
		  <add key="/staticpages/navTemplateOptions.aspx" value="/navtemplate/options" />
		  <add key="/staticpages/referrals.aspx" value="/referrals" />
		  <add key="/staticpages/helpful-links.aspx" value="/helpful-links" />
		  <add key="/staticpages/events.aspx" value="/events" />
		  <add key="/staticpages/current-clients.aspx" value="/current-clients" />
		  <add key="/staticpages/current-caregivers.aspx" value="/current-caregivers" />
		  <add key="/staticpages/consider-home-care.aspx" value="/consider-home-care" />
		  <add key="/staticpages/video-lp.aspx" value="/the-family-room" />
		  <add key="/staticpages/repository.aspx" value="/current-caregivers/repository" />
		  <add key="/staticpages/search.aspx" value="/search-results" />
        </rewriteMap>
        <rewriteMap name="Rewrites">
          <add key="/contactus" value="/forms/contactus.aspx" />
		  	<add key="/contact-us" value="/forms/contactus.aspx" />
			
          <add key="/thankyoucontactus" value="/forms/thankyoucontactus.aspx" />
		  <add key="/sitemap" value="/staticpages/sitemap.aspx" />
		  <add key="/about-us" value="/staticpages/about-us.aspx" />
		  <add key="/care-coordination" value="/staticpages/care-coordination.aspx" />
		  <add key="/testimonials" value="/staticpages/testimonials.aspx" />
		  
		  <add key="/faqs" value="/staticpages/faqs.aspx" />
		  		  <add key="/about-us/faqs" value="/staticpages/faqs.aspx" />
		  
		  <add key="/services" value="/staticpages/services.aspx" />
		  <add key="/companion-services" value="/staticpages/companion-services.aspx" />
		  <add key="/elderly-companion" value="/staticpages/elderly-companion.aspx" />
		  <add key="/in-home-senior-care" value="/staticpages/in-home-senior-care.aspx" />
		  <add key="/live-in-care" value="/staticpages/live-in-care.aspx" />
		  <add key="/free-check-up-services" value="/staticpages/free-check-up-services.aspx" />
		  <add key="/free-needs-assessment" value="/staticpages/free-needs-assessment.aspx" />
		  <add key="/medical-alert" value="/staticpages/medical-alert.aspx" />
		  <add key="/safety-and-planning" value="/staticpages/safety-and-planning.aspx" />
		  <add key="/alzheimers-care-guide" value="/staticpages/alzheimers-care-guide.aspx" />
		  <add key="/parkinsons-care-guide" value="/staticpages/parkinsons-care-guide.aspx" />
		  <add key="/care-blog" value="/staticpages/care-blog.aspx" />
		  <add key="/careers" value="/staticpages/careers.aspx" />
		  <add key="/navtemplate/structure" value="/staticpages/navTemplateStructure.aspx" />
		  <add key="/navtemplate/options" value="/staticpages/navTemplateOptions.aspx" />
		  
		  <add key="/our-story" value="/staticpages/our-story.aspx" />
		  	<add key="/about-us/our-story" value="/staticpages/our-story.aspx" />
			
		   <add key="/wfc" value="/staticpages/wfc.aspx" />
		   	<add key="/about-us/wfc" value="/staticpages/wfc.aspx" />
			
		   <add key="/home-care" value="/staticpages/home-care.aspx" />
		   	 <add key="/about-us/home-care" value="/staticpages/home-care.aspx" />
			 
		   <add key="/custom-care" value="/staticpages/custom-care.aspx" />
		   
		   <add key="/our-clients" value="/staticpages/our-clients.aspx" />
		   	<add key="/about-us/our-clients" value="/staticpages/our-clients.aspx" />
		   
		   <add key="/referrals" value="/staticpages/referrals.aspx" />
		   <add key="/helpful-links" value="/staticpages/helpful-links.aspx" />
		   <add key="/events" value="/staticpages/events.aspx" />
		   <add key="/current-clients" value="/staticpages/current-clients.aspx" />
		   <add key="/current-caregivers" value="/staticpages/current-caregivers.aspx" />
		   <add key="/consider-home-care" value="/staticpages/consider-home-care.aspx" />
		   <add key="/the-family-room" value="/staticpages/video-lp.aspx" />
		   <add key="/current-caregivers/repository" value="/staticpages/repository.aspx" />
		   <add key="/search-results" value="/staticpages/search.aspx" />
        </rewriteMap>
      </rewriteMaps> 
      <rules configSource="rewrite.config">
      
      </rules>
    </rewrite>
    
  </system.webServer>

  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
		<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
		<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>

